<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ICT3611_Assignment1.My.MySettings.ict_3611ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ict_3611;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ICT3611_Assignment1.My.MySettings.ConnectionString"
            connectionString="Data Source=(local);Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CurrencyConvertorSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CurrencyConvertorSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
                binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
                contract="CurrencyConverter.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
            <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
                binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
                contract="CurrencyConverter.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />
        </client>
    </system.serviceModel>
</configuration>